<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="userName" value="cekmekoy"/>
    <add key="password" value="CkmKoy*106"/>
    <add key="name" value="Çekmeköy"/>
    <add key="dayCount" value="1"/>
    <add key="id" value="40"/>
    <add key="htmlOutputPath" value="C:\index2"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="nobetWebServiceSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.ieo.org.tr/NobetWebService/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="nobetWebServiceSoap"
                contract="IEOService.nobetWebServiceSoap" name="nobetWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>



<!--
İlçe Listesi

<?xml version="1.0" encoding="utf-8" ?>
<ilceler xmlns:sql="urn:schemas-microsoft-com:xml-sql">
  <ilce>
    <id>1</id>
    <ad>Adalar</ad>
  </ilce>
  <ilce>
    <id>2</id>
    <ad>Avcılar</ad>
  </ilce>
  <ilce>
    <id>3</id>
    <ad>Bağcılar</ad>
  </ilce>
  <ilce>
    <id>4</id>
    <ad>Bakırköy</ad>
  </ilce>
  <ilce>
    <id>5</id>
    <ad>Bahçelievler</ad>
  </ilce>
  <ilce>
    <id>6</id>
    <ad>Bayrampaşa</ad>
  </ilce>
  <ilce>
    <id>7</id>
    <ad>Beşiktaş</ad>
  </ilce>
  <ilce>
    <id>8</id>
    <ad>Beykoz</ad>
  </ilce>
  <ilce>
    <id>9</id>
    <ad>Beyoğlu</ad>
  </ilce>
  <ilce>
    <id>10</id>
    <ad>Büyükçekmece</ad>
  </ilce>
  <ilce>
    <id>11</id>
    <ad>Çatalca</ad>
  </ilce>
  <ilce>
    <id>13</id>
    <ad>Eyüp</ad>
  </ilce>
  <ilce>
    <id>14</id>
    <ad>Esenler</ad>
  </ilce>
  <ilce>
    <id>15</id>
    <ad>Fatih</ad>
  </ilce>
  <ilce>
    <id>16</id>
    <ad>Gaziosmanpaşa</ad>
  </ilce>
  <ilce>
    <id>17</id>
    <ad>Güngören</ad>
  </ilce>
  <ilce>
    <id>18</id>
    <ad>Kadıköy</ad>
  </ilce>
  <ilce>
    <id>19</id>
    <ad>Kağıthane</ad>
  </ilce>
  <ilce>
    <id>20</id>
    <ad>Kartal</ad>
  </ilce>
  <ilce>
    <id>21</id>
    <ad>Küçükçekmece</ad>
  </ilce>
  <ilce>
    <id>22</id>
    <ad>Maltepe</ad>
  </ilce>
  <ilce>
    <id>23</id>
    <ad>Pendik</ad>
  </ilce>
  <ilce>
    <id>24</id>
    <ad>Sarıyer</ad>
  </ilce>
  <ilce>
    <id>25</id>
    <ad>Silivri</ad>
  </ilce>
  <ilce>
    <id>26</id>
    <ad>Sultanbeyli</ad>
  </ilce>
  <ilce>
    <id>27</id>
    <ad>Şile</ad>
  </ilce>
  <ilce>
    <id>28</id>
    <ad>Şişli</ad>
  </ilce>
  <ilce>
    <id>29</id>
    <ad>Tuzla</ad>
  </ilce>
  <ilce>
    <id>30</id>
    <ad>Ümraniye</ad>
  </ilce>
  <ilce>
    <id>31</id>
    <ad>Üsküdar</ad>
  </ilce>
  <ilce>
    <id>32</id>
    <ad>Yalova</ad>
  </ilce>
  <ilce>
    <id>33</id>
    <ad>Zeytinburnu</ad>
  </ilce>
  <ilce>
    <id>34</id>
    <ad>Arnavutköy</ad>
  </ilce>
  <ilce>
    <id>35</id>
    <ad>Beylikdüzü</ad>
  </ilce>
  <ilce>
    <id>36</id>
    <ad>Esenyurt</ad>
  </ilce>
  <ilce>
    <id>37</id>
    <ad>Sultangazi</ad>
  </ilce>
  <ilce>
    <id>38</id>
    <ad>Ataşehir</ad>
  </ilce>
  <ilce>
    <id>39</id>
    <ad>Başakşehir</ad>
  </ilce>
  <ilce>
    <id>40</id>
    <ad>Çekmeköy</ad>
  </ilce>
  <ilce>
    <id>41</id>
    <ad>Sancaktepe</ad>
  </ilce>
  <ilce>
    <id>42</id>
    <ad>Altınova</ad>
  </ilce>
  <ilce>
    <id>43</id>
    <ad>Armutlu</ad>
  </ilce>
  <ilce>
    <id>44</id>
    <ad>Çınarcık</ad>
  </ilce>
  <ilce>
    <id>45</id>
    <ad>Çiftlikköy</ad>
  </ilce>
  <ilce>
    <id>46</id>
    <ad>Termal</ad>
  </ilce>
  <ilce>
    <id>100</id>
    <ad>Diğer</ad>
  </ilce>
</ilceler>-->